body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 48px;
}

header p {
    font-size: 20px;
}

section {
    padding: 30px 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #444;
    margin-top: 0;
}

ul {
    list-style: circle;
    padding: 5px;
}

ul li {
    padding: 8px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 40px;
}

#my_pic {
    width: 200px;
    border-radius: 50%;
}

#downloadBtn {
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}



/* Basic styles for navigation and dropdown */
nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

nav ul li a {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 12px;
}

.summary-content,
.skill-content,
.responsibility-content,
.project-content,
.certificate-content,
.award-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/* .summary-content.open,
.skill-content.open,
.responsibility-content.open,
.project-content.open,
.certificate-content.open,
.award-content.open {
    max-height: max-content;

} */

.heading {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.material-symbols-outlined {
    font-size: 40px !important;

}

.material-symbols-outlined.open {
    transform: rotate(90deg) !important;
    transition: transform 0.5s ease-in-out;
}

/* Styles for the navigation */
#navigation {
    position: relative;
}

#navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navigation ul li {
    padding: 15px;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    gap: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
}

.hamburger-menu .bar {
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s;
}



@media only screen and (max-width: 900px) {

    #nav-links.open li {
        display: block;
        padding: 10px;
    }

    #nav-links.open {
        display: flex;
        width: 70%;
        position: absolute;
        top: 10px;
        left: 40px;
        border-radius: 12px;
        background-color: #333;
        border: 1px solid white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    }

    #nav-links li a.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: black;
    }

    * {
        font-size: 32px;
    }

    /* Show the hamburger menu */
    .hamburger-menu {
        display: block;
    }


    /* Hide the regular menu links on small screens */
    #nav-links li {
        display: none;
        width: 50%;
        margin: 0 auto;
    }

    #nav-links.open {
        display: flex;
        flex-direction: column;
    }
}